extends layout

block content
  h1= title
  p Welcome to #{title}, please click the button below to onboard with Stripe connect.
  
  a(href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_BuLSGj1JOwyfHoqTmVvnypg8ykERAlSz&scope=read_write")
    button(type="button") Click to Onboard
